## Question 1

In [1]:
print('Name:','Anisha')
print('Roll no:','21')
print('Marks:','78')

Name: Anisha
Roll no: 21
Marks: 78

# Question 2

In [17]:
c=float(input('enter the temperature in celsius'))
f=(c*1.8)+32
print('Conversion of temperatur from celsius into fahrenhiet is',f)

enter the temperature in celsius32
Conversion of temperatur from celsius into fahrenhiet is 89.6

In [18]:
f=float(input('enter the temperature in fahrenheit'))
c=(f-32)/1.8
print('Conversion of temperature from fahrenhiet into Celsius is',c)

enter the temperature in fahrenheit32
Conversion of temperature from fahrenhiet into Celsius is 0.0

# Question 3

In [3]:
p=int(input('enter the first no'))
p1=int(input('enter the second no'))
print('p2=' ,p*p1)

enter the first no2
enter the second no3
p2= 6

# Question 4

In [85]:
a= str('Learn**Python** by Developing a**Website**')
a

'Learn**Python** by Developing a**Website**'

# Question 5

In [4]:
r=int(input('enter the radius'))
print('area=', 3.14*r*r)

enter the radius5
area= 78.5

# Question 6

In [80]:
list1=[23,45,67,89,90]
list1.insert(2,100)
print(list1)

[23, 45, 100, 67, 89, 90]

# question 7

In [78]:
dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
dict['location']=dict['city']
del dict['city']
print(dict)

{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

# question 8

In [71]:
d1= {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}
d1['emp3']['salary']=8500
print(d1)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

# Question 9

In [18]:
tuple1 = (10, 20, 43, 54, 56, 68)
tuple2= tuple1[2:4]

In [47]:
tuple2

(43, 54)

# # Question 10

In [20]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [21]:
tuple1.count(50)

3